body{
    font-family: "Inter", serif;
    margin: 0px;
}

/* typology */
h1{
    font-size: 25px;
    margin: 0 0 30px 0;
}

#input-el{
    width: 100px;
    height: 80px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 20px; 
    font-size: 58px; 
    padding: 5px 0px;
    line-height: 20.4px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    caret-color: #1F2937;
    }

#convert-btn{
    padding: 10px 20px;
    border: #6943FF;
    border-radius: 6px;
    color: #3D3D3D;
    margin: 0px;
}



/* layout */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-section{
    background-color: #6943FF;
    color: #FFFFFF;
    padding: 20px;

}

.bottom-section{
    background-color: #1F2937;
    padding: 60px;

}

.card{
    background-color: #273549;
    text-align: center;
    width: 400px;
    padding: 10px 30px;
    margin: 30px;
    color: #CCC1FF;
    border-radius: 6px;
}

.conversion{
    color: #FFFFFF;
}
